div {
    width: 360px;
    height: 520px;
    border: 5px solid red;
    margin: 40px auto;
}

div p { 
    text-align: center;
    margin:0px;padding:0px;
    font:  bold 20px/500px arial;
    color: red;
}

